.hero-circular-clip {
  clip-path: ellipse(80% 60% at 80% 50%);
}

@media (min-width: 640px) {
  .hero-circular-clip {
    clip-path: ellipse(75% 60% at 75% 50%);
  }
}

@media (min-width: 1024px) {
  .hero-circular-clip {
    clip-path: ellipse(65% 60% at 65% 50%);
  }
} 